<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.StudentMapper">
<!--        <select id="findAll" resultType="com.demo.entity.Student" >-->
<!--            select id,name,age,bir from t_student-->
<!--        </select>-->
    <insert id="addStudent" parameterType="com.demo.entity.Student" useGeneratedKeys="true" keyProperty="id">
        insert into t_student values (#{id},#{name},#{age},#{bir})
    </insert>
    <update id="updateStudent" parameterType="com.demo.entity.Student" >
        update t_student
        set name=#{name},age=#{age},bir=#{bir}
        where id = #{id}
    </update>
    <select id="findAll" resultType="com.demo.entity.Student" >
        select id,name,age,bir from t_student
    </select>
    <delete id="deleteStudent" parameterType="String">
        delete from t_student where id=#{id}
    </delete>
    <select id="findById" parameterType="String" resultType="com.demo.entity.Student">
        select id,name,age,bir from t_student
        where id=#{id}
    </select>
</mapper>
